@font-face{        /* Has to be in the same folder as css code to work  */ 

    src: url(fonts/OldSchoolAdventures-42j9.ttf);
    font-family:CustomFont;
}

.headContainer{
    display:flex;
    position : fixed;   /*stays in the same place even if the page is scrolled */
    background-color:white;/* rgb(173, 228, 223); */
    justify-content: center;   /*set the alignment of primary axis (x) */ 
    height: 80px;
    align-items:center;    /*set the alignment of secondary axis (y) */ 
    Z-index: 2;              /* everything hides behinder the header   */
    top:0px;                /* so it is fixed to the sides of the page  */
    left:0;
    right:0; 
}

.headTitle{
    color: black;
    font-size: 30px;
    font-family:CustomFont;
}

div{
    padding-left: 3px;
    padding-top: 3px;
}

body{
    background-color: white;
}

#interface{
    margin:auto;
    width: 464px;
    height:670px;
    position:relative;
    margin-top: 100px; /*  due to the header   */
    border-radius:10px;
    font-family: monospace;
    font-size: 1.0em;
    background-color: black;
    color: white;
    border: 3px;
    border-color: darkred;
    border-style: solid;

}

#positioning{
    margin-left:15px;
}

#story{
    border:2px white inset;
    background-color:white;
    width: 420px;
    min-height: 110px;
    border-radius:5px;
    color: white;
    background-color: black;
}

#ach{
    border:2px white inset;
    background-color:white;
    width: 420px;
    min-height: 80px;
    border-radius:5px;
    color:white;
    background-color:black;
  
}

#rank{
    border:2px white inset;
    background-color:white;
    width: 420px;
    min-height: 30px;
    border-radius:5px;
    color:white;
    background-color: black;

}

#inv{
    border:2px black inset;
    color:white;
    background-color: black;
    width: 420px;
    min-height: 10px;
    border-radius:5px;

}

.buttonFrame{
    display:flex;
    justify-content: center;
    width: 420px;
    height: 20px;
}

.buttonPosition{
    width: 100px;
    height: 20px;
    margin-left:15px;
}

button{
    font-size: 14px;
    color: darkred;
    background-color: white;
    font-family: monospace;
    border-radius: 12px;


}

.Ui1{
    display: flex;
    flex-direction:row;
    width: 420px;
    height:20px;
}

.moveToLeft1{
    display:flex;
    flex-direction: row;
    gap: 10%;
    width:290px;

}

.Ui2{
    display: flex;
    flex-direction:row;
    width: 420px;
    height:70px;
}

.moveToLeft2{
    width:320px;
}


.moveToRight2{ 
    width:100px;
}

.moveToRight1{ 
    width:100px;
    padding-top:1.5%;
    gap: 10%;
}


.music{
    position:absolute;  
    top:700px;
    left:60px;
}

.instruct{
    color: black;
    position:absolute;  
    top:680px;
    left:60px;
}





